<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <title>{% block title %}Guider{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
.a {
    text-indent: 15px;
}
.b {
    text-indent: 25px;
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'places:login'%}">Guider</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav pull-right">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'places:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a></li>
            </ul>


        </div>

    </div>
</nav>
    <h2 class="lead">The best recommendations for the selected places are </h2>
    <form action = "{% url 'places:book' %}" method="post">
        {% csrf_token %}
     <ul>
         {% for i in newlist %}
         {% if i.matches != 0 %}
         <h4 >
             <input type="radio" name="book" value = "{{ i.Name }}">{{ i.Name }}
    </h4>

                 {% for j in i.places %}
          <div class="a">
                     <p>{{ j }}</p><br>
          </div>
             {% endfor %}


         {% endif %}
         {% endfor %}
     </ul>
        <div class="b">
        <input type="text" placeholder="Mobile number" name="phone_number"/>
        <input class="btn btn-primary" type="submit" value="Book Guide"/>
        </div>
        </form>
</body>
</html>